$borderGradient: linear-gradient(
   180deg,
   #FFFFFF 0%,
   #D8D8D8 3.65%,
   #979797 48.41%,
   #656565 49.98%,
   #838383 91.09%,
   #373737 100%
);
$backgroundGradient: linear-gradient(
   180deg,
   #000000 0%,
   #131313 8.33%,
   #272726 50%,
   #3C3C3C 90.1%,
   #272727 100%
);

$reflexGradient: linear-gradient(
   180deg,
   rgba(255, 255, 255, 0.65) 0%,
   rgba(255, 255, 255, 0.5) 5.21%,
   rgba(255, 255, 255, 0.46) 5.22%,
   rgba(255, 255, 255, 0) 47.92%,
   rgba(0, 0, 0, 0.23) 50.52%,
   rgba(0, 0, 0, 0.25) 93.22%,
   rgba(0, 0, 0, 0.31) 93.23%,
   rgba(0, 0, 0, 0.56) 100%
);

$normalGradient: radial-gradient(50% 50% at 50% 50%, #868686 0%, #1A0E0E 100%);
$selectGradient: radial-gradient(50% 50% at 50% 50%, #C40000 0%, #1A0E0E 100%);
$hoverGradient: radial-gradient(50% 50% at 50% 50%, #C46A00 0%, #1A0E0E 100%);


.button {
   width: 100%;
   height: 50px;
   cursor: pointer;
   margin: 15px 0;

   .background {
      height: 50px;
      position: relative;
      z-index: 0;
      border-radius: 5px;
      padding: 1px;
      pointer-events: none;

      &::before, &::after {
         content: '';
         position: absolute;
         top: 0; right: 0; bottom: 0; left: 0;
      }

      &::before {
         z-index: 1;
         margin: -3px -3px;
         background: $borderGradient;
         border-radius: inherit;
      }

      &::after {
         background: $backgroundGradient;
         z-index: 2;
         border-radius: inherit;
      }
   }

   .visibleContainer {
      width: 100%;
      min-width: 0%;
      max-width: 100%;
      height: 48px;
      border-radius: 4px;
      overflow: hidden;
      position: relative;
      z-index: 3;
      transition: width .3s ease-in-out;
      pointer-events: none;
   }

   .fillColor, .fillReflex {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 48px;
      pointer-events: none;
   }

   .fillColor {
      z-index: 1;
   }

   .fillReflex {
      z-index: 2;
      background: $reflexGradient;
   }

   .placeholder {
      z-index: 4;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 18px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
      width: 100%;
      text-align: center;
      pointer-events: none;
   }

   .fillColor {
      background: $normalGradient;
   }

   &.selected .fillColor {
      background: $selectGradient !important;
   }

   &:hover .fillColor {
      background: $hoverGradient;
   }
}